{% extends "AppCentroDeSalud/padre.html" %}
{% load static %}


{% block Contenido_1 %}

<title>Centro De Salud Medino</title>

{% endblock %}



{% block Contenido_2 %}

<h1>Bienvenido al centro de salud Medino</h1>
<h2>Cuidamos su salud</h2>

{% endblock %}



{% block Contenido_3 %}

<!-- Feature Area Starts -->
<section class="feature-area section-padding">
    <div class="container">
        <p>Buscaste la especialidad: {{especialidad}}</p>
        {% if medicos %}
            <ul>
                {% for medico in medicos %}
                    <li>{{medico.nombre}} {{medico.apellido}}</li>
                {% endfor %}
        
            </ul>
        {% endif %}


        
    </div>
</section>
<!-- Feature Area End -->

{% endblock %}